*{
    margin:0px;
    padding: 0px;
}
.container{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    height:100%;
    width: 100%;  
}
/* #maroon{
    height: auto;
    width: auto;
} */
.navigation{
    display: flex;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    align-items: center;
}
.nav{
    background-color: #f0f8ff9c;
    height: 5em;
    width:auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 7%;
    padding-right: 7%;
    
}
.navbar{
    display: flex;
    flex-wrap: wrap;
}
.navbar a{
    color: black;
     text-decoration: none;
}
ul{
 display: flex;
 align-items: center;
} 
li{
     list-style: none;
    margin-left: 20px;
    padding-left:40px;
    text-decoration: black; 
    font-family: 'Roboto', sans-serif;

}
#logo{
   display: inline;
   flex-grow: 4;
   font-size: 2rem;
   font-family: 'Heebo', sans-serif;
   cursor: pointer;

}
#logotext{
    display: inline;
    font-size: 28px;
    cursor: pointer;
}
.public{
    font-size: 18px;
    cursor: pointer;
    padding-left: 34px;
}
#home{
    text-decoration:  solid red;
    
}
.content{
    display: flex;
    flex-direction: column;
    background: #fff;
    /* border: red; */
    padding-top: 15px;
    padding-bottom: 20px;
    padding-right:48px;
   position: sticky;
   top: 0;
   height: 72px;
    box-shadow: 0 2px 18px 0 rgb(129 162 182 / 20%);
    box-sizing: border-box;
    z-index: 1;
  
}
.mobile{
    flex-grow:1;
    cursor: pointer;
   
}
.wix{
    font-family: 'Lobster', cursive;
    font-size: 36px;
    padding-top: 0px;
    cursor: pointer;
}
.lapi{
    cursor: pointer;
}
.click{
    cursor: pointer;
}
.read{
    cursor: pointer;
}
button{
    border-radius: 30px;
    background-color:#0C6BFB;
    width: 150px;
    height: 43px;
    color: white;
    border: none;
    cursor: pointer;
}
.img{
    background-color:#F9EFEC;
    margin-left: 5%;
    margin-right: 5%;
  margin-top: 3%;
  padding-top: 8%;
  
   
}
.library{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    
 } 
img{
    width: 60%;
    height:70%;
    animation-delay:1s;
    position:relative;
    animation-name: mridula;
    animation-duration:0.7s;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
   
}
 @keyframes mridula {
    from{
      left:0px;
    }
    to{
       left: 150px;
    }
} 
.learn{
    display:inline-flex;
     align-self: center;
     flex-direction: column;
   
   background-color: #431A20;
    height:300px;
    width:430px;
   
    animation-name: harry;
    animation-duration:1s;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
    animation-delay:1s;
    position:relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;  
}
 @keyframes harry {
    from{
        right:0%;
    }
    to{
        right: 16%;
    }
} 

.learn p{
    color: mintcream;
    font-size: 30px;
    /* align-items: center; */
     justify-content: center;
} 
.arrow{
    display: flex;
    justify-content: center;
    line-height:2;
    font-size: 100px;
    color: red;
     padding-top: 25px;
}
p.welcome {
    font-size:45px;
    display: flex;    
}
p.grab {
    font-size: 20px;
    display: flex;
}
  btn{
    background-color: #CB2903;
    height: 40px;
    width: 170px;
    justify-content: center;
    display: flex;
    margin-top: 20px;
    color: white;
    align-items: center;
  }    
    .circle{
        height: 115px;
        width:115px;
        font-size: 20px;
        border: 2px solid red;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: var(--shd,0 1px 4px rgba(0,0,0,.6));
        /* margin-left: auto; */
        box-sizing: border-box;
        /* margin-right: 20px; */
        margin-top: -5%;
        position: fixed;
    left: 85%;
          color: #CB2903;
    }
    .circle:hover{
        background-color: red;
        color: white;
    }
  .burger{
    position: absolute;
    cursor: pointer;
    right: 6%;
  }
  .line{
      width: 33px;
      background-color: black;
      height:4px;
      margin: 3px 3px;
  }

 @media  only screen and (max-width: 1306px)
 {
    .img {
      background-color: transparent;
    margin-left: 0%;
    margin-right: 0%;
    }
    .learn{
           flex-wrap: wrap;
            transition: none;
             animation: none;
             transition: none;
             display: flex;
               width: 100%;
    }
    .library{
        display: block;
        margin-top: -60px;
    }
    .circle{
        display: none;
    }
    img{
        display: flex;
        display: flex;
    animation: none;
    width: 100%;
    flex-flow: wrap;
    }
}
.burger{
    display: none;
}
@media  only screen and (max-width: 1108px){
     #nav-list{
        display: flex;
          flex-direction: column; 
        }
        .navbar{
            display: flex;
            padding-block-start: 15px;
        }
        .nav{
            height:auto;
        }
    .burger{
        display: block;
    }
    .navigation{
        padding-bottom: 20px;
    }
.v-class-resp{
    opacity: 0;
  
 }  
.h-nav-resp{
    height:50px;
     }
     
}
 @media  only screen and (max-width: 884px){ 
 .content{
     display: none;
 }

}

  @media  only screen and (max-width: 340px){
    btn{
        display:block;
    }
    .learn{ 
        display: block;
        width: auto;
        height: auto;
     } 
    } .burger{
        position: fixed;
    }
    .nav{
        padding-bottom: 80px;
    }
    #logo{
        padding-block-start: 25px
    }
    .btn{
        align-items: center;
    }
   
